@{
    ViewBag.Title = "Home";
    ViewBag.Content = "Main Context";
    ViewBag.Link = "/Home/Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section TitleContent{
    Index Page
}

<h2>Index</h2>
