@{
    ViewBag.Title = "主页";
    ViewBag.Content = "变量表";
    ViewBag.Link = "/Home/Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

@Ajax.ActionLink("LoadData", "LoadData", new AjaxOptions { UpdateTargetId = "customers" })
<table id="customers" style="width:80%;">
    <tr>
        <th></th>
        <th>
            DI
        </th>
        <th>
            DO
        </th>
        <th>
            AI
        </th>
        <th>
            AO
        </th>
    </tr>
    @for (int i = 0; i < Model.AI.Count; i++)
    {
       <tr class="alt">
        <th>第 @i 组</th>
        <td>
          <input value=@Model.DI[i] />
        </td>
        <td>
        <input value=@Model.DO[i] /> 
        </td>
        <td>
        <input value=@Model.AI[i] />
        </td>
        <td>
        <input value=@Model.AO[i] />
        </td>
     </tr>
    }
</table>
<script type="text/javascript" src="../../jquery.js">
    
</script>
 <!--  
 <input name="btnJSON" id="btnJSON" type="submit" value="OK""/>
   <input name="AI1" id="AI1" type="submit" value="AI1""/>
   !-->

<script type="text/javascript">

    setInterval("query();", 1000); //如2000表示2秒请求一次
    function query() {
        var a = Math.random();
        $.getJSON("AIToWeb?ran=" + a / 100, function (data) {
            for (var i = 0; i < data.length; i++) {
            if(data[i]!=null)
            //  document.getElementById("customers").rows[i + 1].cells[3].firstChild.innerText = data[i];
                $("#customers").find('tr').get(i + 1).cells[3].firstChild.innerText = data[i];
             //   $("#customers").rows[i + 1].cells[3].firstChild.innerText = data[i];
            }
        })
    }
    $().ready(function () {
        $("#btnJSON>").click(function () {
            $.getJSON("getJSON", function (data) {
                  alert(data.length + " " + data[0].name);
            })
        })
    })
    
</script>



